@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada%7COswald%7CPoppins");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada%7COswald%7CPoppins");
h1, h2, h3 h4, h5, h6, p, li, body {
  margin: 0px;
  padding: 0px; }

#header {
  position: fixed;
  background-color: black;
  height: 100px;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid white; }

nav ul {
  float: right;
  margin: 0px;
  padding-right: 50px;
  border: 0px;
  list-style-type: none;
  height: 30px; }

#header ul li {
  float: left;
  display: inline;
  display: list-item;
  padding: 30px;
  padding-top: 50px; }

.logo {
  height: 140px;
  padding-left: 40px;
  padding-top: 0px;
  margin-top: 0; }

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
  background-color: #000;
  padding: 12px;
  font-size: 18px; }

.history:hover {
  text-decoration: none;
  color: #fff;
  background-color: #103559;
  padding: 70px 12px 12px 12px; }

.history ul li a.active {
  padding: 70px 12px 12px 12px;
  background-color: #103559; }

.science:hover {
  text-decoration: none;
  color: #fff;
  background-color: #a9d416;
  padding: 12px 12px 46px 12px; }

.science ul li a.active {
  padding: 12px 12px 46px 12px;
  background-color: #a9d416; }

.animals:hover {
  text-decoration: none;
  color: #fff;
  background-color: #460049;
  padding: 70px 12px 12px 12px; }

.animals ul li a.active {
  padding: 70px 12px 12px 12px;
  background-color: #460049; }

.getinvolved:hover {
  text-decoration: none;
  color: #fff;
  background-color: #890426;
  padding: 12px 12px 46px 12px; }

.getinvolved ul li a.active {
  padding: 12px 12px 46px 12px;
  background-color: #890426; }

footer {
  clear: both;
  height: 100px;
  background-color: black;
  border-top: 1px solid white; }

.museum {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding-top: 15px; }

.cree {
  float: right;
  width: 20%;
  padding-right: 20px;
  padding-top: 10px; }

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 60px;
  color: white; }

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: white;
  letter-spacing: 3px; }

p {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 2; }

.banner {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden; }

video {
  max-width: 100%;
  position: absolute;
  z-index: -100;
  top: 50%;
  transform: translateY(-50%); }

.bannertext {
  text-align: center;
  margin-top: 300px;
  z-index: 50; }

.abouttext {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px; }

.aboutcontainer {
  background-color: black;
  border-bottom: 2px solid white; }

.articlecontainer {
  position: relative;
  background-color: black; }

article {
  width: 33.2%;
  height: 300px;
  float: left;
  border-right: 1px solid white; }

.historyarticle {
  background-image: url("../images/thehistory.jpg");
  background-size: cover;
  background-position: center; }

.historyarticle .overlay {
  opacity: 0; }

.historyarticle:hover .overlay {
  opacity: 1; }

.historyarticle:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/thehistory.jpg");
  background-size: cover;
  background-position: center; }

.animalsarticle {
  background-image: url("../images/theanimals.jpg");
  background-size: cover;
  background-position: center; }

.animalsarticle .overlay {
  opacity: 0; }

.animalsarticle:hover .overlay {
  opacity: 1; }

.animalsarticle:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/theanimals.jpg");
  background-size: cover;
  background-position: center; }

.sciencearticle {
  background-image: url("../images/thescience.jpg");
  background-size: cover;
  background-position: center; }

.sciencearticle .overlay {
  opacity: 0; }

.sciencearticle:hover .overlay {
  opacity: 1; }

.sciencearticle:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/thescience.jpg");
  background-size: cover;
  background-position: center; }

article h2 {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

video {
  max-width: 100%;
  position: absolute; }

.photo {
  height: 600px;
  overflow: hidden;
  border-bottom: 2px solid #890426; }

.photoproject, .photoexhibit {
  height: 500px;
  position: relative;
  border-bottom: 2px solid #890426; }

.dino {
  float: left;
  height: 500px;
  position: relative;
  width: 50%; }

.dinoinfo {
  float: right;
  width: 50%;
  height: 500px;
  position: relative; }

.textbox {
  background-color: black;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px; }

.textbox p {
  padding-top: 10px; }

.textboxproject, .textboxexhibit {
  clear: both;
  background-color: black;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 10px;
  border-bottom: 2px solid #890426; }

.biopop {
  text-align: center;
  max-width: 25%;
  max-height: 50%;
  padding-top: 30px;
  padding-bottom: 20px; }

.kids {
  float: left;
  height: 500px;
  position: relative;
  width: 49.9%;
  border-right: 1px solid #890426; }

.fireflies {
  float: right;
  width: 50%;
  height: 500px;
  position: relative; }

h2 {
  font-size: 36px;
  padding-bottom: 20px; }

.textboxexhibit p {
  padding-bottom: 40px;
  padding-top: 20px; }

.textboxexhibit img {
  text-align: center;
  max-width: 25%;
  max-height: 25%; }

/*# sourceMappingURL=style.css.map */
